{extends '../layout.latte'}

{block content}
<h1>Login</h1>
<form action="{route('login_authenticate')}" method="post">
	<p>Login as whoever! And the password is always "password" (no quotes)</p>
	<label for="username">Username:</label>
	<input type="text" name="username" id="username" required>
	<label for="password">Password:</label>
	<input type="password" name="password" id="password" required>

	<button type="submit">Login</button>
</form>
{/block}