{extends '../layout.latte'}

{block content}
<h1>Create a Post</h1>
<form action="{route('blog_store')}" method="post">
	<label><input type="text" name="title" placeholder="Title" required></label>
	<label><textarea name="content" placeholder="Content" required></textarea></label>

	<button type="submit">Create</button>
</form>
{/block}