<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{$page_title ? $page_title.' - '}Blog Built with Flight!</title>
	</head>
	<body style="padding: 15px; color: white; background-color: black;">
		{block content}{/block}
	</body>
</html>